.cover__link {
        display: grid;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        grid-template-areas: 
        "title"
        "subtitle"
        "overlay";
        text-decoration: none;
    }
@media screen and (max-width: 744px) {
    .cover__link {
        margin-bottom: 64px;
    }
}