.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 990px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1200px) {
    .places {
        max-width: 100%;
        justify-self: center;
    }
}

@media screen and (max-width: 1100px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 800px) {
    .places {
        max-width: 720px;
        margin-bottom: 66px;
    }
}