@font-face {
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-family: 'Inter';
}
@font-face {
    src: url('./fonts/Inter-Italic.woff2') format('woff2');
    font-family: 'Inter';
    font-style: italic;
}
@font-face {
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-family: 'Inter';
    font-style: bold;
}

.body {
    background-color: #2a2c2f;
    font-family: 'Inter';
}
.pages {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90% 5% 5%;
}

.header__text {
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    text-align: right;
    color: white;
}
.lead {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 90px;
    width: 80%;
}
.lead__title {
    display: flex;
    width: 70%;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    color: white;
    margin: 0 auto;
    margin-bottom: 32px;
}

.lead__subtitle {
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
    margin-bottom: 64px;
}
.lead__image {
    width: 100%;
    max-width: 985px;
    background-image: url(./images/Group\ 4.svg);
    z-index: 2;
    max-width: 100%;
}

.lead__image-bg {
    display: flex;
    margin: 0 auto;
}

.lead__caption {
    margin-top: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: white;
    padding: 0;
    text-align: left;
}

.intro {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    margin-bottom: 92px;
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
}

.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: white;
    max-width: 690px;
}

.intro__list {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
    list-style: none;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 92px;
}

.photo-grid__image {
    max-width: 285px;
}

.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 92px;
}

.place {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%;
    width: 100%;
    gap: 40px;
    object-fit: cover;
}

.place__title {
    max-width: 460px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.website {
    max-width: 460px;
    align-self: flex-end;
}
.website__url-heading {
    color: #AAAAAA;
}
.website__url-link {
    color: white;
}
.website__url-link:hover {
    opacity: 0.8;
}
.place__image {
    max-width: 100%;
}

.place__paragraph {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29.34px;
}

.cover {
    margin: 0 auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-areas: 
    "title"
    "subtitle"
    "overlay"
}

.cover__title {
    margin: 0 auto;
    max-width: 45%;
    grid-area: title;
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    align-self: flex-end;
    margin-bottom: 32px;
    color: white;
    text-decoration: none;
}

.cover__subtitle {
    margin: 0 auto;
    grid-area: subtitle;
    max-width: 30%;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    justify-items: center;
    align-items: center;
}

.overlay {
    margin: 0 auto;
    grid-area: overlay;
    grid-row: 1/3;
    width: 1184px;
    height: 740px;  
    background-image: url(./images/cover-trains.jpg);
    background-size: 100%;
    z-index: 1;
    object-fit: cover;
    opacity: 0.8;
}

.overlay:hover {
    background-color: #2A2C2F;
    opacity: 30%;
}

.footer {
    display: grid;
    margin: 0 auto;
    padding: 0 auto;
    grid-template-columns: 0.4fr 0.4fr repeat(3, 0.5fr) 4fr;
    justify-items: flex-start;
    align-items: center;
    column-gap: 18px;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer__copyright {
    justify-self: flex-end;
}

@media (max-width: 1280px) {
    
    .pages {
        max-width: 100%;
    }
    .header {
        display: grid;
        grid-template-columns: 70% 15% 15%;
    }
    .header__text {
        display: grid;
        justify-items: flex-end;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
    }
    
    .lead__title {
        display: flex;
        margin: 0 auto;
        padding: 0;
        max-width: 95%;
        max-height: 20%;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
    
    .lead__subtitle {
        display: flex;
        margin: 0 auto;
        max-width: 95%;
        max-height: 20%;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    
    .lead__image {
        max-width: 100%;
    }

}
