.cover__subtitle {
    margin: 0 auto;
    grid-area: subtitle;
    width: 360px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}


@media screen and (max-width: 744px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
    }
}