.footer__link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-right: 18px;
}
.footer__link:last-child {
    margin-right: 0;
}


@media screen and (max-width: 800px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 744px) {
    .footer__link {
        display: flex;
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__link:last-child {
        margin-bottom: 48px;
    }
}  