.intro {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    margin-bottom: 92px;
}


@media screen and (max-width: 950px) {
    .intro {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 88px;
    }
}