.cover {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 92px;
    display: grid;
    grid-template-areas: 
    "title"
    "subtitle"
    "overlay"
}

@media screen and (max-width: 1280px) {
    .cover {
        display: grid;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        grid-template-areas: 
        "title"
        "subtitle"
        "overlay"
    }
}

@media screen and (max-width: 744px) {
    .cover {
        display: grid;
        margin: 0 auto;
        margin-bottom: 64px;
        padding: 0;
        max-width: 100%;
        grid-template-areas: 
        "title"
        "subtitle"
        "overlay"
    }
}